@font-face {
    font-family: 'Rubik';
    src: url('../font/Rubik-VariableFont_wght.ttf');
}

body {
    font-family: 'Rubik';
    color: #000000;
    overflow-x: hidden;
}

.scrollTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 200px;
    background-color: #2D2D2D;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
    cursor: pointer;
    transition-duration: .2s;
    z-index: 100;
  }

.scrollTop:hover {
    transform: scale(1.05);
    transition-duration: .2s;
}

.scrollTop a {
    font-size: 18px;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-decoration: none;
  }
  .scrollTop a p {
    margin-bottom: 0;
    font-size: 0.9rem;
    font-weight: 500;
  }

#tela01 {
    height: 100vh;
    background-color: #094b89;
    color: white;
    position: relative;
}

/* #tela01 .col-text {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.col-img {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-inicial {
    height: 850px;
    margin-top: -50px;
    margin-left: 100px;
}

h1 {
    font-size: 70px;
    margin-top: 240px;
    margin-left: 140px;
    font-weight: 400;
    line-height: 1;
}

.conteudo h2 {
    margin-top: 40px;
    margin-bottom: 10px;
}

b {
    font-weight: 700;
}

.inicio {
    background-image: url('../img/btn_inicio.png');
    background-size: contain;
    height: 70px;
    width: 70px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    border-radius: 100px;
    border: none;
    box-shadow: 1px 1px 3px black;
    transition-duration: .2s;
    animation-name: btn-inicio;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.inicio:hover {
    transform: translateX(-50%) scale(1.1);
    transition-duration: .2s;
    animation-play-state: paused;
    bottom: 43px;
}

#tela02 {
    background-color: #F9B393;
    padding-top: 45px;
    padding-bottom: 25px;
}

#piramide {
    max-height: 400px;
    width: auto;
    margin: 1em auto 0.5em auto;
}

figcaption {
    text-align: center;
    margin: 5px auto 25px auto;
}

.accordion {
    margin: 1em auto;
    width: 90%;
    background-color: #F9B393;
}

.accordion-button {
    background-color: #e85301;
    color: white;
    font-weight: 600;
}

.accordion-button::after {
    background-image: unset;
}

.accordion-button:not(.collapsed) {
    background-color: #e85301;
    color: white;
}

.accordion-button:not(.collapsed)::after {
    background-image: unset;    
}

.accordion-item {
    margin-bottom: 10px;
}

.link-container {
    display: flex;
    padding: 0;
    overflow: hidden;
    width: 100vw;
}

.link {
    height: 100vh;
    width: 33%;
    padding: 0;
    margin: 0;
    border: none;
    background-position: center;
    transition-duration: .3s;
    background-size: cover;
}

.link:hover {
    transform: scale(1.07);
    transition-duration: .3s;
}

#link-2 {
    background-image: url('../img/aba_familia.png');
    
}

#link-1 {
    background-image: url('../img/aba_educador.png');
    
}

#link-3 {
    background-image: url('../img/aba_crianca.png');
    
}

#link-2:hover {
    background-image: url('../img/aba_familia_hover.png');
}

#link-1:hover {
    background-image: url('../img/aba_educador_hover.png');
}

#link-3:hover {
    background-image: url('../img/aba_crianca_hover.png');
}

.conteudo {
    padding-top: 45px;
}

video {
    background-color: black;
    display: block;
    margin: 1em auto;
    height: 240px;
    width: 80%;
    border-radius: 5px;
}

.video-row {
    display: flex;
    
}

.video-container {
    border: 1px solid #cecece;
    width: 49%;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 5px;
}

#conteudo-educadores .video-container {
    width: 100%;
    display: block;
    margin: 10px auto;
}

.conteudo {
    padding: 40px 50px 15px 50px;
}

#conteudo-educadores .video-container video {
    width: 460px;
}

.video-texto h3 {
    margin-top: 10px;
    
}

.title-h {
    height: 68px;
}

#conteudo-familia h2 {
    margin-top: 40px;
}

#figura-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#figura-1 {
    height: 320px;
    margin: 5px auto;
    display: block;
}

.c-c {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabela-container {
    height: 734px;
    width: 505px;
    display: block;
    margin: 25px auto;
    background-image: url('../img/tabela.png');
    position: relative;
}

.btn-tabela {
    width: 194px;
    position: absolute;
    background-color: transparent;
    border: solid 2px #094b89;
    left: 9px;
    height: 35px;
}

.btn-tabela:hover {
    background-color: rgba(9, 75, 137, .6);
}

#btn-vEnergetico {
    height: 74px;
    top: 200px;
}

#btn-carbs {
    top: 276px;
}

#btn-proteinas {
    top: 312px;
}

#btn-g-totais {
    top: 348px
}

#btn-g-sat {
    top: 384px;
}

#btn-g-trans {
    top: 420px;
}

#btn-fibra {
    top: 456px;
}

#btn-sodio {
    top: 492px;
}

#btn-porcao {
    top: 90px;
    left: 136px;
    width: 121px;
}

#btn-vd {
    top: 140px;
    right: 9px;
    width: 163px;
    height: 50px;
    left: unset;
}

#btn-mc {
    top: 90px;
    left: 257px;
    width: 106px;
}

.tooltip,
.tooltip-inner {
    max-width: 500px;
    font-size: 18px;
    transition-duration: .3s;
}

.infografico {
    border: 2px solid rgba(9, 75, 137, .6);
    border-radius: 5px;
    padding: 15px;
    background-color: #094b89;
    color: white;
    width: 80%;
    margin: 10px auto;
}

.infografico li {
    margin-bottom: 5px;
}

#conteudo-familia .infografico h2 {
    margin-top: 10px;
    margin-left: 2rem;
}

.hidden-lg {
    display: none;
}

@media (max-width: 650px) {
    .hidden-lg {
        display: block;
    }

    .img-inicial {
        width: 100%;
        height: auto;
        margin-top: 60px;
        margin-left: 0;
    }

    h1 {
        margin-top: 40px;
        margin-left: 0;
        text-align: center;
        font-size: 42px;
    }

    .inicio {
        bottom: 120px;
        left: 42%; /* nao sei pq... */
    }

    video {
        max-width: 100%;
        height: 160px;
    }

    .tabela-container {
        display: none;
    }

    .infografico {
        width: 100%;
    }

    .video-container {
        width: 100%;
    }
}

@keyframes btn-inicio {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}